body{
    width: 1000px;
    margin:auto;
}
.fundo{
    border-radius: 5%;
    background-color: #ecc6ec;
}

.titulos{
    padding-left: 16px;
}
.info{
    border-style: dashed;
    background-color: aliceblue;
    text-align: justify;
    display: flex;
    padding-left: 16px;
}

img{
    width: 471px;
    height: 225px;
}

.n1{
    padding-right: 18px;
    text-align: justify;
    width: 500px;
}

.n2{
    width: 500px;
    margin-top: -41px;
    padding-left: 10px;
    padding-right: 15px;
}
h1{
    text-align: justify;
    font-size: 75px;
    line-height: 61px;
    margin-top: 10px;
    padding-top: 17px;
    margin-bottom: 2px;
}

h2{
    text-align: justify;
    font-size: 19px;
}

h3{
    margin-top: 36px;
}